Classification Methods:
1. Decision Tree Classifiation
2. Random Forest Classification
3. K-Nearest Neighbour Classification

# Objective: To Predict whether a patient has diabetes or not based on diagnostic measures

Dataset: PIMA Indian Diabetes

In [ ]:
#import pandas library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#import dataset
df=pd.read_csv("/content/pima-indians-diabetes.csv")

In [ ]:
#set column names
feature_names=['Pregnancies',	'Glucose',	'BloodPressure',	'SkinThickness',	'Insulin',	'BMI',	'DiabetesPedigreeFunction',	'Age',	'Outcome']
df.columns=feature_names
df.target=['Outcome']

<ipython-input-66-6ff5ac402445>:3: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.target=['Outcome']

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,0
1,8,183,64,0,0,23.3,0.672,32,1
2,1,89,66,23,94,28.1,0.167,21,0
3,0,137,40,35,168,43.1,2.288,33,1
4,5,116,74,0,0,25.6,0.201,30,0

In [ ]:
# Identifying the unique number of values in the dataset
df.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    516
Age                          52
Outcome                       2
dtype: int64

In [ ]:
# Check for missing values
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
# See rows with missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [ ]:
#feature variables
x=df.drop(['Outcome'], axis=1)
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,1,85,66,29,0,26.6,0.351,31
1,8,183,64,0,0,23.3,0.672,32
2,1,89,66,23,94,28.1,0.167,21
3,0,137,40,35,168,43.1,2.288,33
4,5,116,74,0,0,25.6,0.201,30
...,...,...,...,...,...,...,...,...
762,10,101,76,48,180,32.9,0.171,63
763,2,122,70,27,0,36.8,0.340,27
764,5,121,72,23,112,26.2,0.245,30
765,1,126,60,0,0,30.1,0.349,47
766,1,93,70,31,0,30.4,0.315,23

In [ ]:
#target variable
y=df.Outcome
y

0      0
1      1
2      0
3      1
4      0
      ..
762    0
763    0
764    0
765    1
766    0
Name: Outcome, Length: 767, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split # Import train_test_split function
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

Decision Tree Classification

In [ ]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

In [ ]:
# Create Decision Tree classifer object
model = DecisionTreeClassifier()

# Train Decision Tree Classifer
model = model.fit(x_train,y_train)

In [ ]:
#Predict the response for test dataset
y_pred_test = model.predict(x_test)

In [ ]:
#Evaluation using Accuracy score
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test)*100)

Accuracy: 73.37662337662337

In [ ]:
from sklearn import tree
tree.plot_tree(model)

In [ ]:
pip install graphviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: graphviz in /usr/local/lib/python3.8/dist-packages (0.10.1)

In [ ]:
import graphviz
dot_data = tree.export_graphviz(model, out_file=None)
graph = graphviz.Source(dot_data)
graph

In [ ]:
# Create Decision Tree classifer object
model = DecisionTreeClassifier(criterion="entropy", max_depth=3)

# Train Decision Tree Classifer
model = model.fit(x_train,y_train)

In [ ]:
#Predict the response for test dataset
y_pred_test = model.predict(x_test)

In [ ]:
# Test Accuracy
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test)*100)

Accuracy: 73.37662337662337

GRID SEARCH CV

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid = {'ccp_alpha': [0.1, 0.01, 0.001], 'min_samples_leaf': range(1,5),
              'min_samples_split': range(1,10),'max_depth' : range(1,10),
              'criterion' :['gini', 'entropy'],'max_features': ['auto', 'sqrt', 'log2']
             }

In [ ]:
ds_tree = DecisionTreeClassifier()
grid_search = GridSearchCV(estimator=ds_tree, param_grid=param_grid, cv=5, verbose=True, scoring='accuracy')
grid_search=grid_search.fit(x_train, y_train)

In [ ]:
grid_search.best_params_

{'ccp_alpha': 0.01,
 'criterion': 'entropy',
 'max_depth': 4,
 'max_features': 'log2',
 'min_samples_leaf': 3,
 'min_samples_split': 4}

In [ ]:
grid_search.best_estimator_

DecisionTreeClassifier(ccp_alpha=0.01, criterion='entropy', max_depth=4,
                       max_features='log2', min_samples_leaf=3,
                       min_samples_split=4)

In [ ]:
grid_search.best_score_

0.7715713714514194

In [ ]:
y_grid_pred_test = grid_search.predict(x_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_grid_pred_test)*100)

Accuracy: 74.02597402597402

**Random Forest Classifier**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
y_pred_test=rfc.predict(x_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test)*100)

Accuracy: 73.37662337662337

In [ ]:
rfc1 = RandomForestClassifier(n_estimators=50, max_features="auto", random_state=44)
rfc1.fit(x_train, y_train)
y_pred_test=rfc1.predict(x_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test)*100)

Accuracy: 75.32467532467533

In [ ]:
param_grid_rf = {
    'n_estimators': [50, 100],'min_samples_leaf': range(1,5), 'min_samples_split': range(1,10),
    'max_features': ['auto', 'sqrt', 'log2'],'max_depth' : range(1,10), 'criterion' :['gini', 'entropy', 'log_loss']
}

In [ ]:
RF_model = RandomForestClassifier(random_state=42)
grid_search_rf = GridSearchCV(estimator=RF_model, param_grid=param_grid_rf, cv=3, verbose=True)
grid_search_rf.fit(x_train, y_train)

In [ ]:
grid_search_rf.best_params_

{'criterion': 'gini',
 'max_depth': 3,
 'max_features': 'auto',
 'min_samples_leaf': 1,
 'min_samples_split': 5,
 'n_estimators': 100}

In [ ]:
grid_search_rf.best_estimator_

RandomForestClassifier(max_depth=3, min_samples_split=5, random_state=42)

In [ ]:
grid_search_rf.best_score_

0.7748525426430736

In [ ]:
y_pred_test=grid_search_rf.predict(x_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test)*100)

Accuracy: 76.62337662337663

#IMPLEMENTING THE KNN CLASSIFIER WITH 7 NEIGHBORS

In [ ]:
# Create a k-NN classifier with 7 neighbors
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 7)

#Fit the classifier to the training data
knn=knn.fit(x_train, y_train)

y_pred = knn.predict(x_test)
#Print the accuracy

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred)*100)

Accuracy: 75.32467532467533

IMPLEMENTING THE KNN CLASSIFIER USING GRID SEARCH CV

In [ ]:
k_range = list(range(1, 31))
print(k_range)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
param_grid = dict(n_neighbors=k_range)
print(param_grid)

{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

In [ ]:
grid_search_knn = GridSearchCV(knn, param_grid, cv=10, scoring='accuracy', return_train_score=False)
grid_search_knn.fit(x_train, y_train)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(n_neighbors=7),
             param_grid={'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12,
                                         13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
                                         23, 24, 25, 26, 27, 28, 29, 30]},
             scoring='accuracy')

In [ ]:
y_pred = grid_search_knn.predict(x_test)

In [ ]:
#Compute accuracy on the test set
metrics.accuracy_score(y_test, y_pred)

0.7727272727272727

In [ ]:
metrics.precision_score(y_test, y_pred)

0.72